name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml
        python-version: 3.10
        auto-activate-base: false

    - name: Verify conda
      shell: bash -l {0}
      run: |
        conda info
        conda env list
        which python
        python --version

    - name: Install MLflow
      shell: bash -l {0}
      run: pip install mlflow

    - name: Run MLflow Project (COND AKEPAKE)
      shell: bash -l {0}
      env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      run: |
          cd MLProject
          mlflow run .

    - name: Build Docker Image
      run: |
        cd MLProject
        mlflow models build-docker -m runs:/$(ls mlruns/*/*/artifacts/model | head -n 1) \
        -n dockerhub_username/hr-attrition-mlflow

    - name: Login Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Docker Image
      run: docker push dockerhub_username/hr-attrition-mlflow
