name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow

    - name: Set MLflow DagsHub Env
      run: |
        echo "MLFLOW_TRACKING_URI=${{ secrets.MLFLOW_TRACKING_URI }}" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_USERNAME=${{ secrets.MLFLOW_TRACKING_USERNAME }}" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_PASSWORD=${{ secrets.MLFLOW_TRACKING_PASSWORD }}" >> $GITHUB_ENV

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Build Docker Image
      run: |
        cd MLProject
        mlflow models build-docker -m runs:/$(ls mlruns/*/*/artifacts/model | head -n 1) -n ${{ secrets.DOCKER_USERNAME }}/hr-attrition-mlflow

    - name: Login Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Docker Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/hr-attrition-mlflow
